<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--创建学生对象
    等同于Student stu = new Student();
    id:就是要创建对象的名称
    class：就是创建的对象类型，底层通过反射构建对象

    启动容器的同时创建对象
    -->
    <bean id="stu" class="com.example.pojo.Student">
        <property name="name" value="张三"></property>
        <property name="age" value="21"></property>
    </bean>
</beans>